* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

img {
  width: 20px;
}

button {
  border: none;
}

input {
  margin: 20px;
  border: 1px solid #1F1f3D
}

label {
  display: flex;
}

nav {
  flex-direction: column;
  background-color: #587A8A;
  float: left;
  height: 100vh;
  width: 40%;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
}

h1 {
  color: #FFFFFF
}

main {
  background-color: background-color: #1F1f3D;
  float: right;
}

section {
  background-color: #FFE89D;
  border: 1px solid #FFC30C;
  margin-right: 20px;
}

footer {
  /*display: flex;*/
}

.main-header {
  display: flex;
  justify-content: space-between;
  background-color: #1F1f3D;
}

.search-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-image {
  margin-right: 0px;
  cursor: pointer;
  border-right: 0px;
  width: 40px;
  height: 40px;
}

.search-input {
  margin-left: 0px;
  border-left: 0px;
}

.nav-input-label {
  color: #F3F6F7;
  font-size: 15px;
}

.nav-button {
  background-color: #1F1f3D;
  color: #FFFFFF;
  margin: 5px;
}

.search-image {
  background-color: #F3F6F7;
}

.new-task-container {
  display: flex;
  justify-content: space-between;
}

.task-text {
  display: flex;
  align-items: flex-start;
}
.yo {
  color: #FFC30C;
}